@use "../custom" as *;
@use "../components/mixins.scss" as *;

// about-me
.about-me {
  padding-left: 12rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  h1 {
    .blast {
      display: inline-block;
      opacity: 0;
      font-size: 3rem;
      &:hover {
        color: $purple-light;
      }
    }
  }

  p {
    line-height: 1.4;
    padding-right: 4.5rem;
    text-align: justify;
    transform: translate3d(0, -400%, 0);
  }

  // styles added when scroll
  &.reveal {
    p {
      animation: slideInUp;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }
}
