@use "../custom" as *;
@use "../components/mixins.scss" as *;

footer {
  background-color: $bg-200;
  padding-left: 12rem;
  display: flex;
  justify-content: space-around;
  height: 30px;
  align-items: center;

  span a {
    color: $pink;
  }

  a {
    color: white;
    span {
      color: $pink;
    }
  }
}
