@use "../custom" as *;
@use "../components/mixins.scss" as *;

.hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;

  .text {
    align-self: center;
    padding-left: 12rem;

    // medium devices styles
    @include respond-to("md") {
      padding-left: 2rem;
    }

    h1 {
      margin-bottom: 0;
      word-spacing: 15px;

      .blast {
        display: inline-block;
        opacity: 0;
        font-size: 60px;

        // small devices styles
        @include respond-to("sm") {
          font-size: 36px;
        }

        &:hover {
          color: $purple-light;
        }
      }
    }
    p {
      margin: 0;
      letter-spacing: 1px;

      text-align: center;
      display: inline-block;
      color: $gray;
    }
    .flat-btn {
      @include flat-btn;
    }
  }
  #main-svg {
    flex-grow: 1;
    align-self: center;
    @include respond-to("xs") {
      display: none;
    }

    svg {
      display: block;
      margin: 0px auto;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      pointer-events: none;

      .p-1 {
        fill-opacity: 0;
        animation: p 10s ease-in-out forwards infinite;
        animation-delay: 3s;
      }
      .p-2 {
        fill-opacity: 0;
        animation: p 10s ease-in-out forwards infinite;
        animation-delay: 3s;
      }
      @keyframes p {
        0% {
          stroke-dashoffset: 999;
          fill-opacity: 0;
        }

        30%,
        100% {
          stroke-dashoffset: 0;
          fill-opacity: 1;
        }
      }
    }
  }
  .scroll {
    position: absolute;
    right: 0;
    bottom: 40px;

    a {
      display: flex;
      flex-direction: column;
      color: $gray;
      span {
        display: inline-block;
        transform: rotate(90deg);
        position: relative;
        top: 0;
        animation: move 1s linear 1s infinite forwards;
      }
      svg {
        margin: 18px auto;

        transform: rotate(0deg) translateY(7px);
      }
      @keyframes move {
        0%,
        100% {
          top: 0px;
        }
        50% {
          top: 10px;
        }
      }
    }
  }
}
