@use "../custom" as *;
@use "../components/mixins.scss" as *;

// portfoli
.portfolio {
  padding-left: 12rem;
  overflow: hidden;

  // medium devices styles
  @include respond-to("md") {
    padding: 0px 1rem;
  }

  // text section
  &_text {
    p {
      transform: translate3d(0, -800%, 0);
    }
    .blast {
      display: inline-block;
      opacity: 0;
      font-size: 3rem;
      &:hover {
        color: $purple-light;
      }
    }
  }

  // portfolio section
  &_items {
    overflow: hidden;
    transform: translate3d(-800%, 0, 0);
    #portfolio-filter {
      display: grid;
      grid-template-columns: 220px 220px 220px;
      column-gap: 20px;
      // extra small devices styles
      @include respond-to("xs") {
        padding: 0;
        column-gap: 0;
        grid-template-columns: 90px 90px 90px;
      }
      .flat-btn {
        @include flat-btn;
        //small devices styles
        @include respond-to("sm") {
          margin-top: 0;
          max-width: 200px;
        }
        @include respond-to("xs") {
          max-width: 76px;
        }
      }

      li.current {
        color: black;
        span.bg {
          width: 110%;
        }
      }
    }
    #portfolio-list {
      z-index: 1;
      //small devices styles
      @include respond-to("sm") {
        margin: 30px;
      }
      // extra small devices styles
      @include respond-to("xs") {
        margin: auto;
      }
      li {
        width: 300px;
        height: 300px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        .hover-content {
          transition: all 0.3s ease-in-out;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0);
          z-index: 3;
          .link {
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: $pink;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate((-50%, -50%)) scale(0.2);
            line-height: 150px;
            text-align: center;
            font-weight: 900;
            word-spacing: -2px;
            letter-spacing: 0px;
            opacity: 0;
            transition: transform 0.3s, opacity 0.3s, word-spacing 1s,
              letter-spacing 1s;
          }
          .text {
            position: absolute;
            bottom: -60px;
            display: block;
            right: 0;
            left: 0;
            text-align: center;
            transition: bottom 0.3s ease-in-out;
            p {
              margin: 0;
              font-size: 1rem;
            }
            span {
              font-size: 0.7rem;
            }
            .slide-img {
              display: none;
            }
          }
        }
        &:hover {
          cursor: pointer;
          .hover-content {
            transform: scale(1.1);
          }
          .link {
            opacity: 1;
            transform: translate((-50%, -50%)) scale(0.8);
            word-spacing: 3px;
            letter-spacing: 3px;
          }
          .text {
            bottom: 25px;
          }
        }
      }

      li:nth-child(1) {
        .hover-content {
          background: url("../../assets/images/applap-cover.jpg");
          background-size: cover;
        }
      }

      li:nth-child(2) {
        .hover-content {
          background: url("../../assets/images/social-media-cover.jpg");
          background-size: cover;
        }
      }

      li:nth-child(3) {
        .hover-content {
          background: url("../../assets/images/applap-cover.jpg");
          background-size: cover;
        }
      }
    }
  }
  // scroll add on scroll
  &.reveal {
    .portfolio_text p {
      animation: slideInUp;
      animation-duration: 1.75s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
    .portfolio_items {
      animation: slideInLeft;
      animation-duration: 1.75s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }
}
