@use "../custom" as *;
@use "../components/mixins.scss" as *;
.menu {
  width: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: $bg-200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // medium devices styles

  @include respond-to("md") {
    position: absolute;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    &.open {
      height: 100vh;
      justify-content: space-evenly;
    }
  }
  //menu icon
  &_icon {
    display: none;

    // medium devices styles
    @include respond-to("md") {
      display: inline-block;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: 15px;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
    }
  }
  &_icon.open {
    /* Rotate first bar */
    .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .bar2 {
      opacity: 0;
    }

    /* Rotate last bar */
    .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
  }
  // top logo
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    background-color: black;
    padding-bottom: 5px;

    // medium devices styles
    @include respond-to("md") {
      padding-top: 70px;
      background-color: rgba(0, 0, 0, 0);
    }

    a {
      display: block;

      span {
        display: block;
        width: 100%;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 5px;
        font-size: 1.4rem;
        margin-left: 24px;
        color: white;
        letter-spacing: 1px;
      }
    }
    span {
      color: $gray-600;
      display: block;
      margin-top: 20px;
      font-family: "Open Sans";
    }
  }
  // side nav menu
  &_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #282828;
    margin-top: 30px;
    a {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 1rem;
      color: $gray;
      line-height: 3rem;
      border-bottom: 1px solid #282828;
      -webkit-transition: color 0.3s, background-color 0.3s;
      -o-transition: color 0.3s, background-color 0.3s;
      transition: color 0.3s, background-color 0.3s;
      &:hover {
        color: $purple-light;
      }
    }
  }
  // social icons
  &_socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 5rem;

    li {
      text-align: center;
      a {
        color: $gray;
        padding: 7px;
        transition: color 0.3s;
        &:hover {
          color: $purple-dark;
        }
      }
    }
  }
}
