@use "../custom" as *;
@use "../components/mixins.scss" as *;
.contact {
  padding-left: 12rem;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 3rem;
  // medium device styles
  @include respond-to("md") {
    padding: 5rem 1rem;
  }
  .text {
    h1 {
      .blast {
        display: inline-block;
        opacity: 0;
        font-size: 3rem;
        &:hover {
          color: $purple-light;
        }
      }
    }
    p {
      width: 50%;
      line-height: 1.5;
      text-align: justify;
      transform: translateX(-2000px) scale(0.7);
      opacity: 0;
      // small devices
      @include respond-to("xs") {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }
  .form {
    padding-right: 1rem;
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
    .form-control {
      overflow: hidden;
      margin-bottom: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: #2b2b2b;
      border: none;
      outline: none;
      color: #8d8d8d;
      padding: 0 20px;
      font-size: 1rem;
      width: 100%;
      height: 50px;
      position: relative;
    }
    .half {
      width: 49%;
      display: inline-block;
      // small devices
      @include respond-to("xs") {
        width: 100%;
        display: block;
      }
    }
    .half:nth-child(2) {
      float: right;
      // small devices
      @include respond-to("xs") {
        float: none;
      }
    }
    textarea {
      height: 150px;
      resize: vertical;
      padding-top: 20px;
      margin: 0 !important;
    }
    .name-label,
    .email-label,
    .subject-label,
    .textarea-label {
      position: relative;
      width: 100%;
      display: block;
      height: 4px;
      overflow: hidden;
      font-size: 0.8rem;
      color: #8d8d8d;
    }
    label::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $pink;
      transform: translate3d(-200%, 0, 0);
      transition: transform 0.3s ease-in-out;
    }
    .name-label::after,
    .email-label::after {
      background-color: brown;
    }
    input:focus + label::after {
      transform: translate3d(0, 0, 0);
    }
    .textarea-label {
      border-top: 1px solid brown;
      transition: transform 0.3s ease-in-out;
      transform: translate3d(100%, 0, 0);
    }
    input:focus::placeholder {
      color: transparent;
    }
    textarea:focus::placeholder {
      color: transparent;
    }
    .err-msg {
      color: #8d8d8d;
      margin: 0;
      height: 20px;
      color: $pink;
    }
    .flat-btn {
      @include flat-btn;
      @include respond-to("md") {
        margin-top: 0;
      }
    }
  }
  &.reveal {
    .text p {
      animation: backInLeft;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
      animation-duration: 0.75s;
      animation-timing-function: ease-in-out;
    }
    .form {
      animation: slideInLeft;
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-delay: 0.75s;
    }
  }
}
